{% extends "base.html" %}

{% block title %}Kevin Zhang{% endblock %}

{% block content %}

<div style="margin: 1rem; padding: 1rem; font-size: 18px">

<h1>Hi! My name is Kevin.</h1>

<p>I'm a first-year math and CS major at Yale, and I'm currently working as an undergraduate research assistant in the <a href="https://www.gersteinlab.org/">Gerstein Lab</a>. I'm a bit newer to CS, but I'm looking forward to learning how to build better and prettier things (and adding to this site)! Math, on the other hand, has been something I've been learning for a long time. I went to a summer math program in high school but it was really a summer mafia program because I mostly remember playing mafia but also probability theory and 17 and yellow pigs.</p>

<p>Openings i'm most partial to are Queen's Gambit as white and Caro-Kann as black. My favorite artist is Frank Ocean, but I'd like him more if he actually releasd music. I used to swim competitively and now I'm part of the mixed martial arts club at Yale (I only go on striking days, though). I recently beat New Super Mario Bros Wii with my sister, and we've been going back for star coins when I'm on break from school. I split an apple in half with my bare hands for the first time on January 13. Marty Supreme was just decent. My girlfriend's name is Charlotte and she is the coolest person alive.</p>

<p>Feel free to reach out to me on <a href="https://www.linkedin.com/in/kz357">LinkedIn</a> or via <a href="mailto:kevin.zhang.kz357@yale.edu">email</a>.</p>

<p>You can see some of my code on <a href="https://github.com/kz357">my GitHub</a>.</p>

</div>

{% endblock %}