{% extends "base.html" %}

{% block title %}Kevin Zhang{% endblock %}

{% block content %}

<div style="margin: 1rem; padding: 1rem">

<h1>About Me</h1>

<p>Hi! My name is Kevin.</p>

<p>I'm a first-year math and CS major at Yale, and I'm currently working as an undergraduate research assistant in the <a href="https://www.gersteinlab.org/">Gerstein Lab</a>. I'm a bit newer to CS, but I'm looking forward to learning how to build better and prettier things (and adding to this site). Math, on the other hand, has been something I've been learning for a long time.</p>

<p>Feel free to reach out to me on <a href="https://www.linkedin.com/in/kz357">LinkedIn</a> or via <a href="mailto:kevin.zhang.kz357@yale.edu">email</a>.</p>

<p>You can see my code on <a href="https://github.com/kz357">my GitHub</a>.</p>

</div>

{% endblock %}